@charset "utf-8";

:root {
--bs-body-font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}